body{
background-color: #f4f8ff;
}   
.App{
  width: 100%;
}
.navbar-active{
  background: #fff;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  top: 0;
  left: 0;
}   
.tab-active{
  background: #fff;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  top: 80px;
  left: 0;
  z-index: 8;
  animation: 0.4s ease 0s 1 normal forwards running HHONk;
}
.ezvrcN {
  display: block;
  height: 45px;
  margin: 0px 25px 0px 0px;
  padding: 5px 0px 10px;
  width: 152px;
  background: url(./img/logo-color.svg) 0px 5px / 100% no-repeat;
}

.image-wrapper button {
  width: 230px;
}

.wrapper-img {
  width: 203px;
  height: 75px;

}

.wrapper-img img {
  width: 138px;
  height: 100%;
}

@media (max-width: 1276px) {
  .image-wrapper button {
    width: 180px;
  }

  .wrapper-img img {
    width: 126px;
  }
}

@media (max-width: 428px) {
  .image-wrapper button {
    width: 100%;
    font-size: 20px;
  }

  .wrapper-img img {
    width: 138px;
  }
}